* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Chivo";
  src: url(/fonts/chivo/static/Chivo-Light.ttf); }

@font-face {
  font-family: "Chivo-1";
  src: url(/fonts/chivo/static/Chivo-ExtraLight.ttf); }

body {
  font-family: "Chivo", sans-serif;
  background-color: #121726;
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  align-items: center; }

#container {
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  #container #section-img {
    position: relative;
    width: -webkit-fill-available; }
    #container #section-img #logo-pod {
      position: absolute;
      top: -5%;
      left: 20%; }
    #container #section-img #publish-podcast {
      width: 723px;
      height: 509px;
      position: absolute;
      background: #121726;
      left: 20%;
      bottom: 0%;
      display: flex;
      flex-direction: column;
      justify-content: end; }
      #container #section-img #publish-podcast #container-text h1 {
        text-transform: uppercase;
        font-size: 52px;
        line-height: 62px;
        font-family: "Chivo-1";
        color: #54E6AF;
        font-weight: 100; }
      #container #section-img #publish-podcast #container-text h1#white {
        color: #FFFFFF; }
      #container #section-img #publish-podcast #container-text p {
        color: #C2CBE5;
        font-weight: 100;
        font-size: 18px;
        line-height: 28px;
        font-family: "Chivo-1";
        width: 62%;
        margin-top: 25px; }
      #container #section-img #publish-podcast #button-access {
        width: 427px;
        height: 56px;
        margin-top: 45px;
        background: #5A668A;
        border-radius: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        position: relative; }
        #container #section-img #publish-podcast #button-access input:focus {
          outline: none; }
        #container #section-img #publish-podcast #button-access input[type="email"] {
          margin-left: 25px;
          background: none;
          font-family: 'Chivo';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 28px;
          color: #FFFFFF;
          border: none; }
        #container #section-img #publish-podcast #button-access input[type="email"]::placeholder {
          color: #FFFFFF; }
        #container #section-img #publish-podcast #button-access input[type="button"] {
          height: 100%;
          background: #B3FFE2;
          box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
          border-radius: 28px;
          width: 162px;
          border: none;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 28px;
          color: #121725;
          font-family: "Chivo";
          cursor: pointer; }
        #container #section-img #publish-podcast #button-access p#message_error {
          color: #FB3E3E;
          font-size: 12px;
          font-family: "Chivo";
          margin-left: 25px;
          position: absolute;
          bottom: -35%;
          display: none; }
      #container #section-img #publish-podcast #img-logos {
        margin-top: 60px; }
        #container #section-img #publish-podcast #img-logos img {
          margin-right: 25px; }
  #container #dots-botton {
    position: absolute;
    bottom: -8%;
    right: 0%; }

/*Formato Tablet*/
@media screen and (max-width: 768px) and (min-width: 376px) {
  body {
    display: block; }
  #container {
    width: 100%;
    height: 1024px; }
    #container #section-img {
      position: relative;
      width: -webkit-fill-available;
      padding: 50px 40px; }
      #container #section-img #logo-pod {
        position: relative;
        top: 0;
        left: 0; }
      #container #section-img #publish-podcast {
        width: 635px;
        height: 509px;
        position: absolute;
        background: #121726;
        left: 20px;
        bottom: 0;
        top: 26%; }
        #container #section-img #publish-podcast #container-text h1 {
          color: #54E6AF;
          font-size: 48px;
          font-family: Chivo;
          line-height: 56px;
          text-transform: uppercase; }
        #container #section-img #publish-podcast #container-text h1#white {
          color: #FFFFFF; }
        #container #section-img #publish-podcast #container-text p {
          color: #C2CBE5;
          font-size: 18px;
          font-family: Chivo;
          line-height: 28px; }
        #container #section-img #publish-podcast #button-access {
          width: 427px;
          height: 56px;
          margin-top: 35px;
          border-radius: 28px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          position: relative; }
          #container #section-img #publish-podcast #button-access input:focus {
            outline: none; }
          #container #section-img #publish-podcast #button-access input[type="email"] {
            margin-left: 25px;
            background: none;
            font-family: 'Chivo';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            color: #FFFFFF;
            border: none; }
          #container #section-img #publish-podcast #button-access input[type="email"]::placeholder {
            color: #FFFFFF; }
          #container #section-img #publish-podcast #button-access input[type="button"] {
            height: 100%;
            background: #B3FFE2;
            box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
            border-radius: 28px;
            width: 162px;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            color: #121725;
            font-family: "Chivo";
            cursor: pointer; }
          #container #section-img #publish-podcast #button-access p#message_error {
            color: #FB3E3E;
            font-size: 12px;
            font-family: "Chivo";
            margin-left: 25px;
            position: absolute;
            bottom: -35%;
            display: none; }
        #container #section-img #publish-podcast #img-logos {
          margin-top: 60px;
          align-self: center; }
          #container #section-img #publish-podcast #img-logos img {
            margin-right: 25px; }
    #container #dots-botton {
      position: absolute;
      bottom: -8%;
      right: 0;
      left: 20px; } }

/*Formato Movil*/
@media screen and (max-width: 375px) {
  picture {
    display: none; }
  body {
    display: flex;
    background-image: url("../starter-code/assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center; }
  body::before {
    background-color: rgba(18, 23, 38, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%; }
  #container {
    width: 100%;
    height: 515px;
    padding: 0px 20px; }
    #container #section-img {
      position: relative;
      width: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      #container #section-img #logo-pod {
        position: relative;
        top: 0;
        left: 0; }
      #container #section-img #publish-podcast {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        position: relative;
        background: #121726;
        left: 0;
        bottom: 0;
        top: 0;
        background: none;
        justify-content: space-between; }
        #container #section-img #publish-podcast #container-text {
          margin-top: 55px; }
          #container #section-img #publish-podcast #container-text h1 {
            color: #54E6AF;
            text-align: center;
            font-size: 26px;
            font-family: Chivo;
            line-height: 38px;
            text-transform: uppercase; }
          #container #section-img #publish-podcast #container-text h1#white {
            color: #FFFFFF; }
          #container #section-img #publish-podcast #container-text p {
            color: #C2CBE5;
            text-align: center;
            font-size: 15px;
            font-family: Chivo;
            line-height: 25px;
            width: auto; }
        #container #section-img #publish-podcast #button-access {
          width: auto;
          height: auto;
          margin-top: 0px;
          border-radius: 28px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          order: 1;
          background: none; }
          #container #section-img #publish-podcast #button-access input:focus {
            outline: none; }
          #container #section-img #publish-podcast #button-access input[type="email"] {
            margin: 0;
            background: none;
            font-style: normal;
            font-weight: bold;
            color: #FFF;
            font-size: 14px;
            font-family: Chivo;
            line-height: 28px;
            border: none;
            width: -webkit-fill-available;
            border-radius: 28px;
            background: #2C344B;
            height: 46px;
            padding-left: 25px; }
          #container #section-img #publish-podcast #button-access input[type="email"]::placeholder {
            color: #FFFFFF; }
          #container #section-img #publish-podcast #button-access input[type="button"] {
            height: 46px;
            margin-top: 16px;
            background: #B3FFE2;
            box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
            border-radius: 28px;
            width: 162px;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            color: #121725;
            font-family: "Chivo";
            cursor: pointer;
            width: -webkit-fill-available; }
          #container #section-img #publish-podcast #button-access p#message_error {
            color: #FB3E3E;
            font-size: 12px;
            font-family: "Chivo";
            margin-left: 0px;
            position: absolute;
            bottom: -15%;
            display: none; }
        #container #section-img #publish-podcast #img-logos {
          display: flex;
          margin: 0;
          align-items: center;
          justify-content: center; }
          #container #section-img #publish-podcast #img-logos img {
            margin-right: 10px;
            width: 22%; }
    #container #dots-botton {
      position: relative;
      bottom: 0;
      right: 0;
      left: 0;
      display: none; } }
