* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$green: #54E6AF;
$grey-dark: #2C344B;
$black: hsl(224, 35%, 11%);
$white: #FFFFFF;
$grey-white: #5A668A;
$white-pearl: #C2CBE5;

@font-face {
    font-family: "Chivo";
    src: url(/fonts/chivo/static/Chivo-Light.ttf);
}

@font-face {
    font-family: "Chivo-1";
    src: url(/fonts/chivo/static/Chivo-ExtraLight.ttf);
}

body {
    font-family: "Chivo", sans-serif;
    background-color: $black;
    color: $white;
    height: 100vh;
    display: flex;
    align-items: center;
}

#container {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-between;
    position: relative;

    #section-img {
        position: relative;
        width: -webkit-fill-available;

        #logo-pod {
            position: absolute;
            top: -5%;
            left: 20%;
        }

        #publish-podcast {
            width: 723px;
            height: 509px;
            position: absolute;
            background: $black;
            left: 20%;
            bottom: 0%;
            display: flex;
            flex-direction: column;
            justify-content: end;

            #container-text {
                h1 {
                    text-transform: uppercase;
                    font-size: 52px;
                    line-height: 62px;
                    font-family: "Chivo-1";
                    color: $green;
                    font-weight: 100;
                }

                h1#white {
                    color: $white;
                }

                p {
                    color: $white-pearl;
                    font-weight: 100;
                    font-size: 18px;
                    line-height: 28px;
                    font-family: "Chivo-1";
                    width: 62%;
                    margin-top: 25px;
                }
            }

            #button-access {
                width: 427px;
                height: 56px;
                margin-top: 45px;
                background: $grey-white;
                border-radius: 28px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                position: relative;

                input:focus {
                    outline: none;
                }

                input[type="email"] {
                    margin-left: 25px;
                    background: none;
                    font-family: 'Chivo';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 28px;
                    color: #FFFFFF;
                    border: none;
                }

                input[type="email"]::placeholder {
                    color: #FFFFFF;
                }

                input[type="button"] {
                    height: 100%;
                    background: #54E6AF;
                    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
                    border-radius: 28px;
                    width: 162px;
                    border: none;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 28px;
                    color: #121725;
                    font-family: "Chivo";
                    cursor: pointer;
                }

                p#message_error {
                    color: #FB3E3E;
                    font-size: 12px;
                    font-family: "Chivo";
                    margin-left: 25px;
                    position: absolute;
                    bottom: -35%;
                    display: none;
                }
            }

            #img-logos {
                margin-top: 60px;

                img {
                    margin-right: 25px;
                }
            }
        }
    }

    #dots-botton {
        position: absolute;
        bottom: -8%;
        right: 0%;
    }
}

/*Formato Tablet*/
@media screen and (max-width: 768px) and (min-width: 376px) {

    body {
        display: block;
    }

    #container {
        width: 100%;
        height: 1024px;

        #section-img {
            position: relative;
            width: -webkit-fill-available;
            padding: 50px 40px;

            #logo-pod {
                position: relative;
                top: 0;
                left: 0;
            }

            #publish-podcast {
                width: 635px;
                height: 509px;
                position: absolute;
                background: $black;
                left: 20px;
                bottom: 0;
                top: 26%;

                #container-text {
                    h1 {
                        color: #54E6AF;
                        font-size: 48px;
                        font-family: Chivo;
                        line-height: 56px;
                        text-transform: uppercase;
                    }

                    h1#white {
                        color: $white;
                    }

                    p {
                        color: #C2CBE5;
                        font-size: 18px;
                        font-family: Chivo;
                        line-height: 28px;
                    }
                }

                #button-access {
                    width: 427px;
                    height: 56px;
                    margin-top: 35px;
                    border-radius: 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    position: relative;

                    input:focus {
                        outline: none;
                    }

                    input[type="email"] {
                        margin-left: 25px;
                        background: none;
                        font-family: 'Chivo';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 28px;
                        color: #FFFFFF;
                        border: none;
                    }

                    input[type="email"]::placeholder {
                        color: #FFFFFF;
                    }

                    input[type="button"] {
                        height: 100%;
                        background: #54E6AF;
                        box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
                        border-radius: 28px;
                        width: 162px;
                        border: none;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 28px;
                        color: #121725;
                        font-family: "Chivo";
                        cursor: pointer;
                    }

                    p#message_error {
                        color: #FB3E3E;
                        font-size: 12px;
                        font-family: "Chivo";
                        margin-left: 25px;
                        position: absolute;
                        bottom: -35%;
                        display: none;
                    }
                }

                #img-logos {
                    margin-top: 60px;
                    align-self: center;

                    img {
                        margin-right: 25px;
                    }
                }
            }
        }

        #dots-botton {
            position: absolute;
            bottom: -8%;
            right: 0;
            left: 20px;
        }
    }
}

/*Formato Movil*/
@media screen and (max-width: 375px) {
    picture {
        display: none;
    }

    body {
        display: flex;
        background-image: url("../starter-code/assets/mobile/image-host.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
    }

    body::before {
        background-color: hsla(224, 35%, 11%, 0.5);
        content: '';
        display: block;
        height: 100vh;
        position: absolute;
        width: 100%;

    }

    #container {
        width: 100%;
        height: 515px;
        padding: 0px 20px;

        #section-img {
            position: relative;
            width: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            #logo-pod {
                position: relative;
                top: 0;
                left: 0;
            }

            #publish-podcast {
                width: -webkit-fill-available;
                height: -webkit-fill-available;
                position: relative;
                background: $black;
                left: 0;
                bottom: 0;
                top: 0;
                background: none;
                justify-content: space-between;

                #container-text {
                    margin-top: 55px;

                    h1 {
                        color: #54E6AF;
                        text-align: center;
                        font-size: 26px;
                        font-family: Chivo;
                        line-height: 38px;
                        text-transform: uppercase;
                    }

                    h1#white {
                        color: $white;
                    }

                    p {
                        color: #C2CBE5;
                        text-align: center;
                        font-size: 15px;
                        font-family: Chivo;
                        line-height: 25px;
                        width: auto;
                    }
                }

                #button-access {
                    width: auto;
                    height: auto;
                    margin-top: 0px;
                    border-radius: 28px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    order: 1;
                    background: none;

                    input:focus {
                        outline: none;
                    }

                    input[type="email"] {
                        margin: 0;
                        background: none;
                        font-style: normal;
                        font-weight: bold;
                        color: #FFF;
                        font-size: 14px;
                        font-family: Chivo;
                        line-height: 28px;
                        border: none;
                        width: -webkit-fill-available;
                        border-radius: 28px;
                        background: #2C344B;
                        height: 46px;
                        padding-left: 25px;
                    }

                    input[type="email"]::placeholder {
                        color: #FFFFFF;
                    }

                    input[type="button"] {
                        height: 46px;
                        margin-top: 16px;
                        background: #54E6AF;
                        box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
                        border-radius: 28px;
                        width: 162px;
                        border: none;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 28px;
                        color: #121725;
                        font-family: "Chivo";
                        cursor: pointer;
                        width: -webkit-fill-available;
                    }

                    p#message_error {
                        color: #FB3E3E;
                        font-size: 12px;
                        font-family: "Chivo";
                        margin-left: 0px;
                        position: absolute;
                        bottom: -15%;
                        display: none;
                    }
                }

                #img-logos {
                    display: flex;
                    margin: 0;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-right: 10px;
                        width: 22%;
                    }
                }
            }
        }

        #dots-botton {
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            display: none;
        }
    }
}